git+https://github.com/rapptz/discord.py
git+https://github.com/rapptz/discord-ext-menus
git+https://github.com/gorialis/jishaku
numpydoc
cachetools
fuzzywuzzy
python-dotenv
parsedatetime
python-dateutil
humanize
asyncpg
asyncpg-stubs
lru-dict
aiofile
typing_extensions
python-Levenshtein
psutil
tabulate
click